@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.button-component {
    cursor: pointer;
    width: 311px;
    height: 56px;
    border: none;
    font-family: 'Inter', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    justify-content: space-between;
}

.primary-button {
    background-color: #026C00;
    color: #fff;
}

.primary-button:hover {
    background-color: #079504;
}

.primary-button:active {
    background-color: #013C00;
}

.secondary-button {
    background-color: #F7C346;
    color: #000;
}

.secondary-button > svg {
    filter: invert(0.9);
}

.secondary-button:hover {
    background-color: #FFDF77;
}

.secondary-button:active {
    background-color: #DCAC0D;
}

.disabled-button {
    cursor: default;
}

.disabled-button.primary-button {
    background-color: #B7D0B6;
    color: #fff;
}

.disabled-button.secondary-button {
    background-color: #FFE58D;
    color: #fff;
}

.disabled-button.secondary-button > svg {
    filter: invert(0);
}
